@import "../../app.scss";

.portfolio {
  position: relative;
  background: linear-gradient(180deg, #0c0c1d, #111132);

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 40px;
    text-align: center;
    color: orange;
    font-size: 30px;

    @include mobile{
      position: unset;
      font-size: 20px;
      padding-top: 15px;
    }

    @media (max-width:399px){
      font-size: 17px;
      padding-top: 20px;
    }

    @media (min-width:401px) and (max-width:800px){
      font-size: 20px;
      padding-top: 20px;
    }

    @include mobile{
      h1{
        
      }
    }

    .progressBar {
      height: 8px;
      background-color: white;
      border-radius: 8px;

      @include desktop{
        width:80% ;
        margin: auto;
       }

      @include mobile{
        width: 60%;
        margin: auto;
      }

      @media (max-width:399px){
        width: 60%;
        margin: auto;
      }

      @media (min-width:401px)and (max-width:800px){
        width: 70%;
        margin: auto;
        margin-top: 10px;
      }
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .wrapper {
      max-width: 1000px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile{
        flex-direction: column;
      }

      .imageContainer {
        flex: 1;
        height: 50%;

        @include mobile{
          width: 79%;
          max-height: 250px;
        }

        @media (min-width: 370px) and (max-width:389px){
          margin-left: 13% !important;
        }

        @media (min-width:391px) and (max-width:399px){
          margin-left: 15% !important;
        }
        
        @media (max-width:399px){
          width: 90% ;
          margin-top: 30px;
          margin-left: 8%;
        }

        @media (min-width:400px)and (max-width:800px){
          width: 90%;
          max-height: 250px;
        }

        @media (min-width:390px) and (max-width:390px){
          max-height: 300px;
          margin-left: 14%;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: fill;
            margin-top: 20px;

            @include desktop{
              width: 100%;
              height: 100%;
              object-fit: fill;
             }

            @media (min-width:400px)and (max-width:800px){
              object-fit: fill;
            }

            @media (max-width:399px){
              object-fit: fill;
              height: 200px;
              width: 300px;
            }

            @media (min-width:390px) and (max-width:390px){
              object-fit: fill;
              height: 250px;
              width: 300px;
            }

            @media (max-width:399px){
              margin-top: 0px;
            }
        }
      }

      .textContainer {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 23px;

        @include mobile{
          margin-top: -350px;
        }

        @media (max-width:399px){
          margin-top: -400px;
        }

        h2 {
          font-size: 40px;

          @include desktop{
            font-size: 42px;
           }

          @include mobile{
            text-align: center;
            font-size: 30px;
            margin: 40px 40px;
          }

          @media (min-width:401px)and (max-width:800px){
            text-align: center;
            font-size: 50px;
            margin: 40px 40px;
          }

          @media (max-width:399px){
            text-align: center;
            font-size: 25px;
            margin-top: 20px 20px;
          }
        }

        p {
          color: gray;
          font-size: 18px;

          @include desktop{
            font-size: 21.5px;
           }

          @include mobile {
            text-align: center;
            font-size: 18px;
            margin: -40px 40px;
          }

          @media (min-width:401px)and (max-width:800px){
            text-align: center;
            font-size: 23px;
            margin: -40px 40px;
          }

          @media (min-width:390px) and (max-width:390px){
            text-align: center;
            font-size: 22px;
            margin: -50px 40px;
          }
        }

        button {
          background-color:orange;
          border: none;
          border-radius: 10px;
          padding: 10px;
          width: 150px;
          cursor: pointer;

          @include desktop{
            font-size: 18px;
           }

          @include mobile{
            font-size: 15px;
            margin: 50px auto;
          }

          @media (min-width:390px) and (max-width:390px){
            font-size: 18px;
          }

          @media (min-width:401px)and (max-width:800px){
            font-size: 20px;
          }

          &:hover{
            background-color:rgb(253, 179, 40);
          }
        }
      }
    }
  }
}